asgiref==3.8.1
beautifulsoup4==4.13.3
Django==5.1.7
django-bootstrap5==25.1
django-phonenumber-field==8.0.0
iniconfig==2.1.0
packaging==25.0
phonenumbers==9.0.0
pluggy==1.5.0
pytest==8.3.5
python-decouple==3.8
ruff==0.11.0
soupsieve==2.6
sqlparse==0.5.3
typing_extensions==4.12.2
