<!DOCTYPE html>
<html data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}WarehouseTrack{% endblock title %}</title>
        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <style>
            /* Sticky footer styles */
            html, body {
                height: 100%;
            }
            body {
                display: flex;
                flex-direction: column;
            }
            .content-wrapper {
                flex: 1;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark border-bottom">
            <div class="container">
                <a class="navbar-brand" href="/dashboard">WarehouseTrack</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="/warehouses">Warehouses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/companies">Companies</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/deliveries">Deliveries</a>
                            <li class="nav-item">
                                <form action="{% url 'logout' %}" method="post" class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-light">Log Out</button>
                                </form>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container mt-2 content-wrapper">
            {% block breadcrumbs %}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/dashboard">Dashboard</a>
                    </li>
                </ol>
            </nav>
            {% endblock breadcrumbs %}
            <div class="container mt-4">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
        <footer class="bg-dark text-light py-3 mt-4">
            <div class="container text-center">
                <p class="mb-0">&copy; 2025 WarehouseTrack. All rights reserved.</p>
                {% if user.is_authenticated %}
                    <a class="mb-0">
                        <a>Logged in as {{ user.username }}</a>
                    </a>
                {% endif %}
                {% if user.is_superuser %}
                    <a>
                        |
                    </a>
                    <a class="mb-0">
                        <a href="/admin">Admin panel</a>
                    </a>
                {% endif %}
            </div>
        </footer>
    </body>
</html>