{% extends 'base.html' %}
{% block title %}
  Home
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        Welcome {{ user.username }}
        # table with upcomming deliveries
        <h2>Upcoming Deliveries</h2>
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Delivery Number</th>
                    <th scope="col">Warehouse</th>
                    <th scope="col">Date</th>
                    <th scope="col">Type</th>
                </tr>
            </thead>
            <tbody>
                {% for delivery in deliveries %}
                    <tr onclick="window.location.href='{{ delivery.id }}/'" style="cursor: pointer;">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ delivery.delivery_number }}</td>
                        <td>{{ delivery.warehouse.company }} - {{ delivery.warehouse.city }} {{ delivery.warehouse.street }}</td>
                        <td>{{ delivery.date }}</td>
                        <td>{{ delivery.delivery_type }}</td>
                    </tr>
                {% endfor %}
            </tbody>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log in</a>
    {% endif %}
{% endblock %}
