{% extends "base.html" %}

{% block title %}
    Warehouses
{% endblock title %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Warehouse name</th>
                <th scope="col">City</th>
                <th scope="col">Aisles</th>
            </tr>
        </thead>
        <tbody>
            {% for warehouse in warehouses %}
                <tr>
                    <td>{{ forloop.counter }}</th>
                    <td><a href="{{warehouse.id}}/">{{ warehouse.company }}</a></td>
                    <td>{{ warehouse.city }}</td>
                    <td>
                        <a href="{% url 'aisles_of_warehouse' warehouse.id %}">
                            {{ warehouse.aisles_count }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
{% endblock content %}