{% extends "base.html" %}

{% block title %}
    All Docks
{% endblock title %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/warehouses">Warehouses</a></li>
        <li class="breadcrumb-item"><a href="{% url 'warehouse_detail' warehouse.id %}">{{ warehouse.company }} - {{ warehouse.city }} {{ warehouse.street }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Docks</li>
    </ol>
</nav>
{% endblock breadcrumbs %}

{% block content %}
<div>
    <h2 class="mb-4">Docks of {{ warehouse.city }} {{ warehouse.street }}</h2>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">Number</th>
            </tr>
        </thead>
        <tbody>
            {% for dock in docks %}
            <tr>
                <td>{{ dock.number }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-primary mt-3" onclick="window.location.href='{% url 'warehouse_detail' warehouse.id %}'">Back to Warehouse</button>
    <button class="btn btn-primary mt-3" onclick="window.location.href='{% url 'warehouses' %}'">Back to Warehouses</button>
</div>
{% endblock content %}