{% extends "base.html" %}

{% block title %}
    Warehouses
{% endblock title %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Warehouses</li>
    </ol>
</nav>
{% endblock breadcrumbs %}

{% block content %}
<div>
    <h2 class="mb-4">Warehouses</h2>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Warehouse Name</th>
                <th scope="col">City</th>
                <th scope="col">Aisles</th>
                <th scope="col">Docks</th>
            </tr>
        </thead>
        <tbody>
            {% for warehouse in warehouses %}
            <tr onclick="window.location.href='{{ warehouse.id }}/'" style="cursor: pointer;">
                <td>{{ forloop.counter }}</td>
                <td>{{ warehouse.company }}</td>
                <td>{{ warehouse.city }}</td>
                <td onclick="event.stopPropagation(); window.location.href='{% url 'aisles_of_warehouse' warehouse.id %}'" style="cursor: pointer">
                    {{ warehouse.aisles_count }}
                </td>
                <td onclick="event.stopPropagation(); window.location.href='{% url 'docks_of_warehouse' warehouse.id %}'" style="cursor: pointer">
                    {{ warehouse.docks_count }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}